pipeline/PL_BATCH_MTR_WEB_LOOKUP.json
{
	"name": "PL_BATCH_MTR_WEB_LOOKUP",
	"properties": {
		"description": "BRP_WEB_APP_LOOKUP..",
		"activities": [
			{
				"name": "Lookup_Cleansed_Data",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored Procedure Del",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OrcSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.orc"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_BATCH_MTR_SRC_INC",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Cleansed_Data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set_SessionId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Cleansed_Data').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Execute Pipeline_web_app",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_BATCH_MTR_WEB_APP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"val_name__v": {
										"value": "@item().batch_nbr",
										"type": "Expression"
									},
									"val_description__c": {
										"value": "@item().mtrl_desc",
										"type": "Expression"
									},
									"val_material_id__c": {
										"value": "@item().mtrl_nbr",
										"type": "Expression"
									},
									"val_brand_name__c": {
										"value": "@item().brand_name",
										"type": "Expression"
									},
									"val_supplier_batch_number__c": {
										"value": "@item().vndr_batch_nbr",
										"type": "Expression"
									},
									"val_supplier_name__c": {
										"value": "@item().supplier_name1",
										"type": "Expression"
									},
									"url": {
										"value": "@variables('url')",
										"type": "Expression"
									},
									"password": {
										"value": "@variables('password')",
										"type": "Expression"
									},
									"username": {
										"value": "@variables('username')",
										"type": "Expression"
									},
									"val_email_address": {
										"value": "@pipeline().parameters.var_email_address",
										"type": "Expression"
									},
									"val_sessionId": {
										"value": "@variables('val_sessionId')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set load_txn_tm",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline_web_app",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "val_last_loaded_txn",
								"value": {
									"value": "@item().load_txn_tm",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Stored Procedure Del",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[MQDW].[delete_session_details_proc]",
					"storedProcedureParameters": {
						"source_name": {
							"value": "batch_mtr",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_MQDW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy_Batch_Mtr_Session_Details",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach_Cleansed_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [source_name]\n      ,[url]\n      ,[sessionId]\n      ,[material_id__c]\n      ,[name__v]\n      ,[description__c]\n      ,[brand_name__c]\n      ,[supplier_batch_number__c]\n      ,[supplier_name__c]\n      ,[response_status]\n      ,[data_response_status]\n      ,[data_response_desc]\n      ,[pipeline_runid]\n      ,[pipeline_name]\n      ,[load_txn_tm]\n  FROM [MQDW].[Batch_Mtr_Session_Details]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AvroSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "AvroWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_BATCH_GETFILES",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_BATCH_MTR_SESSION_DETAILS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web_ForEach_Cleansed_Data_Notification",
				"description": "Web_ForEach_Cleansed_Data_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach_Cleansed_Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-02.eastus.logic.azure.com:443/workflows/8db37bafc0ac403c86deba160b21f420/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=QBVBf3euegFE_vajWM2jI4PcSNHh3JasFaokMc_Z8K4",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"EmailTo\":\"@{pipeline().parameters.var_email_address}\",\n \"PipelineName\":\"@{pipeline().Pipeline}\",\n \"PipelineRunId\":\"@{pipeline().RunId}\",\n \"PipelineTime\":\"@{pipeline().TriggerTime}\",\n \"Subject\":\"Pipeline Failed: @{pipeline().Pipeline}\",\n \"ErrorMessage\":\"Batch Mtr ForEach_Cleansed_Data Failed\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_Session_Transfer_Failure_Notification",
				"description": "Web_Session_Transfer_Failure_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy_Batch_Mtr_Session_Details",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-02.eastus.logic.azure.com:443/workflows/8db37bafc0ac403c86deba160b21f420/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=QBVBf3euegFE_vajWM2jI4PcSNHh3JasFaokMc_Z8K4",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"EmailTo\":\"@{pipeline().parameters.var_email_address}\",\n \"PipelineName\":\"@{pipeline().Pipeline}\",\n \"PipelineRunId\":\"@{pipeline().RunId}\",\n \"PipelineTime\":\"@{pipeline().TriggerTime}\",\n \"Subject\":\"Pipeline Failed: @{pipeline().Pipeline}\",\n \"ErrorMessage\":\"Batch Mtr Session Details Transfer Failed\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_Lookup_Veeva_Batch_Mtr_Cnt",
				"description": "Web_ForEach_Cleansed_Data_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy_Inc_Adls_Syn_Veeva",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-02.eastus.logic.azure.com:443/workflows/8db37bafc0ac403c86deba160b21f420/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=QBVBf3euegFE_vajWM2jI4PcSNHh3JasFaokMc_Z8K4",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"EmailTo\":\"@{pipeline().parameters.var_email_address}\",\n \"PipelineName\":\"@{pipeline().Pipeline}\",\n \"PipelineRunId\":\"@{pipeline().RunId}\",\n \"PipelineTime\":\"@{pipeline().TriggerTime}\",\n \"Subject\":\"Pipeline Failed: @{pipeline().Pipeline}\",\n \"ErrorMessage\":\"Copy_Inc_Adls_Syn_Veeva Failed\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy_Inc_Adls_Syn_Veeva",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Stored Procedure Del batch_mtr",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OrcSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.orc"
						}
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "mdm_batch_dim_id",
									"type": "String"
								},
								"sink": {
									"name": "Mdm_Batch_Dim_Id",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "fclty_cd",
									"type": "String"
								},
								"sink": {
									"name": "Fclty_Cd",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "batch_nbr",
									"type": "String"
								},
								"sink": {
									"name": "Batch_Nbr",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mtrl_nbr",
									"type": "String"
								},
								"sink": {
									"name": "Mtrl_Nbr",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mtrl_desc",
									"type": "String"
								},
								"sink": {
									"name": "Mtrl_Desc",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "supplier_name1",
									"type": "String"
								},
								"sink": {
									"name": "Supplier_Name1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "orgnl_vndr_nbr",
									"type": "String"
								},
								"sink": {
									"name": "Orgnl_Vndr_Nbr",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "vndr_batch_nbr",
									"type": "String"
								},
								"sink": {
									"name": "Vndr_Batch_Nbr",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "brand_name",
									"type": "String"
								},
								"sink": {
									"name": "Brand_Name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "load_type",
									"type": "String"
								},
								"sink": {
									"name": "Load_Type",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "load_txn_tm",
									"type": "DateTimeOffset"
								},
								"sink": {
									"name": "Load_Txn_Tm",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_BATCH_MTR_SQLLOAD",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SYN_BATCH_MTR_MQDW",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored Procedure Del batch_mtr",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Cleansed_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[MQDWProduct].[delete_veeva_batch_mtrl]",
					"storedProcedureParameters": {
						"source_name": {
							"value": "batch_mtr",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SYN_MQDW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored Procedure Delta_Batch_Mtr_API",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Cleansed_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[MQDW].[delta_API_call_proc]",
					"storedProcedureParameters": {
						"last_loaded_txn": {
							"value": {
								"value": "@variables('val_last_loaded_txn')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipeline_load_txn_tm": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"source_name": {
							"value": "batch_mtr",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_MQDW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Web Url",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://bpaze1imqdwkv01.vault.azure.net/secrets/MQDW-BATCHMTR-URL1/?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web Url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "url",
					"value": {
						"value": "@activity('Web Url').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web Password",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://bpaze1imqdwkv01.vault.azure.net/secrets/MQDW-BATCHMTR-PASSWORD/?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Password",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web Password",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "password",
					"value": {
						"value": "@activity('Web Password').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web UserName",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://bpaze1imqdwkv01.vault.azure.net/secrets/MQDW-BATCHMTR-USER/?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set UserName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web UserName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "username",
					"value": {
						"value": "@activity('Web UserName').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_Login",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup_Cleansed_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Url",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Password",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set UserName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{variables('url')}/api/v19.3/auth?username=@{variables('username')}&password=@{variables('password')}",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\"username\":\"@{variables('url')}\",\"password=\":\"@{variables('password')}\"}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_SessionId",
				"description": "Set_SessionId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "val_sessionId",
					"value": {
						"value": "@activity('Web_Login').output.sessionId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_Failure_Login_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web_Login",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-02.eastus.logic.azure.com:443/workflows/8db37bafc0ac403c86deba160b21f420/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=QBVBf3euegFE_vajWM2jI4PcSNHh3JasFaokMc_Z8K4",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"EmailTo\":\"@{pipeline().parameters.var_email_address}\",\n \"PipelineName\":\"@{pipeline().Pipeline}\",\n \"PipelineRunId\":\"@{pipeline().RunId}\",\n \"PipelineTime\":\"@{pipeline().TriggerTime}\",\n \"Subject\":\"Pipeline Failed: @{pipeline().Pipeline}\",\n \"ErrorMessage\":\"Login Failed for @{variables('username')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"var_email_address": {
				"type": "string"
			}
		},
		"variables": {
			"metadata_load_time": {
				"type": "String"
			},
			"inc_load_time": {
				"type": "String"
			},
			"final_set": {
				"type": "String"
			},
			"val_last_loaded_txn": {
				"type": "String",
				"defaultValue": "1900-01-01T00:00:00Z"
			},
			"username": {
				"type": "String"
			},
			"password": {
				"type": "String"
			},
			"url": {
				"type": "String"
			},
			"val_sessionId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MQDW"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}