pipeline/PL_MDM_MTRL_TO_ADL_PRODUCT.json
{
	"name": "PL_MDM_MTRL_TO_ADL_PRODUCT",
	"properties": {
		"activities": [
			{
				"name": "CopyData_MDM_Mtrl_adl",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach_LookupOldDeltaLoadDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach_LookupMAXDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "NetezzaSource",
						"query": {
							"value": "SELECT DISTINCT  *\n  FROM GMDM_ELANCO_VIEWS.GMDM_MDM_MTRL mat\nWHERE mat.MDM_TRNSCTN_TMSTMP > '@{variables('LookupOldDeltaLoadDate')}'\nAND mat.MDM_TRNSCTN_TMSTMP <= '@{variables('LookupMAXDate')}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "AvroSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "AvroWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MDM_MTRL_ID",
									"type": "Int64"
								},
								"sink": {
									"name": "MDM_MTRL_ID"
								}
							},
							{
								"source": {
									"name": "MTRL_NBR",
									"type": "String"
								},
								"sink": {
									"name": "MTRL_NBR"
								}
							},
							{
								"source": {
									"name": "MTRL_DESC",
									"type": "String"
								},
								"sink": {
									"name": "MTRL_DESC"
								}
							},
							{
								"source": {
									"name": "MTRL_TYP_CD",
									"type": "String"
								},
								"sink": {
									"name": "MTRL_TYP_CD"
								}
							},
							{
								"source": {
									"name": "MTRL_TYP_DESC",
									"type": "String"
								},
								"sink": {
									"name": "MTRL_TYP_DESC"
								}
							},
							{
								"source": {
									"name": "BATCH_MGMT_FLG",
									"type": "String"
								},
								"sink": {
									"name": "BATCH_MGMT_FLG"
								}
							},
							{
								"source": {
									"name": "FRMLTN_CD",
									"type": "String"
								},
								"sink": {
									"name": "FRMLTN_CD"
								}
							},
							{
								"source": {
									"name": "FRMLTN_DESC",
									"type": "String"
								},
								"sink": {
									"name": "FRMLTN_DESC"
								}
							},
							{
								"source": {
									"name": "ITEM_NUM",
									"type": "String"
								},
								"sink": {
									"name": "ITEM_NUM"
								}
							},
							{
								"source": {
									"name": "MRP_CNTRLR_CD",
									"type": "String"
								},
								"sink": {
									"name": "MRP_CNTRLR_CD"
								}
							},
							{
								"source": {
									"name": "PHRMA_FORM_CD",
									"type": "String"
								},
								"sink": {
									"name": "PHRMA_FORM_CD"
								}
							},
							{
								"source": {
									"name": "PHRMA_FORM_DESC",
									"type": "String"
								},
								"sink": {
									"name": "PHRMA_FORM_DESC"
								}
							},
							{
								"source": {
									"name": "TRNSPRTN_GRP_CD",
									"type": "String"
								},
								"sink": {
									"name": "TRNSPRTN_GRP_CD"
								}
							},
							{
								"source": {
									"name": "TRANSPRTN_GRP_DESC",
									"type": "String"
								},
								"sink": {
									"name": "TRANSPRTN_GRP_DESC"
								}
							},
							{
								"source": {
									"name": "SHELF_LIFE_MIN_REM_QTY_VAL",
									"type": "Int32"
								},
								"sink": {
									"name": "SHELF_LIFE_MIN_REM_QTY_VAL"
								}
							},
							{
								"source": {
									"name": "SHELF_LIFE_STRG_PERC_VAL",
									"type": "Decimal"
								},
								"sink": {
									"name": "SHELF_LIFE_STRG_PERC_VAL"
								}
							},
							{
								"source": {
									"name": "SHELF_LIFE_TTL_QTY_VAL",
									"type": "Int32"
								},
								"sink": {
									"name": "SHELF_LIFE_TTL_QTY_VAL"
								}
							},
							{
								"source": {
									"name": "UOM_CD",
									"type": "String"
								},
								"sink": {
									"name": "UOM_CD"
								}
							},
							{
								"source": {
									"name": "UOM_DESC",
									"type": "String"
								},
								"sink": {
									"name": "UOM_DESC"
								}
							},
							{
								"source": {
									"name": "MDI_FLG",
									"type": "String"
								},
								"sink": {
									"name": "MDI_FLG"
								}
							},
							{
								"source": {
									"name": "MDE_FLG",
									"type": "String"
								},
								"sink": {
									"name": "MDE_FLG"
								}
							},
							{
								"source": {
									"name": "SRC_CD",
									"type": "String"
								},
								"sink": {
									"name": "SRC_CD"
								}
							},
							{
								"source": {
									"name": "MDM_LOAD_ID",
									"type": "Int64"
								},
								"sink": {
									"name": "MDM_LOAD_ID"
								}
							},
							{
								"source": {
									"name": "MDM_TRNSCTN_TMSTMP",
									"type": "DateTime"
								},
								"sink": {
									"name": "MDM_TRNSCTN_TMSTMP"
								}
							},
							{
								"source": {
									"name": "MDM_TRNSCTN_USER_ID",
									"type": "String"
								},
								"sink": {
									"name": "MDM_TRNSCTN_USER_ID"
								}
							},
							{
								"source": {
									"name": "MDM_TRNSCTN_TYP_CD",
									"type": "String"
								},
								"sink": {
									"name": "MDM_TRNSCTN_TYP_CD"
								}
							},
							{
								"source": {
									"name": "MDM_FMLY_ITEM_MTRL_ID",
									"type": "Int64"
								},
								"sink": {
									"name": "MDM_FMLY_ITEM_MTRL_ID"
								}
							},
							{
								"source": {
									"name": "DCN_LCM_STS_CD",
									"type": "String"
								},
								"sink": {
									"name": "DCN_LCM_STS_CD"
								}
							},
							{
								"source": {
									"name": "DCN_LY_MTRL_FLG",
									"type": "String"
								},
								"sink": {
									"name": "DCN_LY_MTRL_FLG"
								}
							},
							{
								"source": {
									"name": "MTRL_GRP_NM",
									"type": "String"
								},
								"sink": {
									"name": "MTRL_GRP_NM"
								}
							},
							{
								"source": {
									"name": "MTRL_GRP_DESC",
									"type": "String"
								},
								"sink": {
									"name": "MTRL_GRP_DESC"
								}
							},
							{
								"source": {
									"name": "WDTH_QTY",
									"type": "Decimal"
								},
								"sink": {
									"name": "WDTH_QTY"
								}
							},
							{
								"source": {
									"name": "LEN_QTY",
									"type": "Decimal"
								},
								"sink": {
									"name": "LEN_QTY"
								}
							},
							{
								"source": {
									"name": "HGT_QTY",
									"type": "Decimal"
								},
								"sink": {
									"name": "HGT_QTY"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_NTZA_MDM_Mtrl",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_PRODUCT_RAW",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "mdm_mtrl"
						}
					}
				]
			},
			{
				"name": "LookupOldDeltaLoadDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT CONVERT(varchar, LastLoaded,20) as LastLoaded, TableName  FROM [MQDW].[DeltaLoadDate] where  tablename = 'MQDWProduct.MDM_MTRL'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_SQL_Delta_Load_Date",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LookupMAXDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "NetezzaSource",
						"query": "SELECT MAX(MDM_TRNSCTN_TMSTMP) as MaxDate FROM GMDM_ELANCO_VIEWS.GMDM_MDM_MTRL",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_NTZA_MDM_Mtrl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_LookupOldDeltaLoadDate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupOldDeltaLoadDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupOldDeltaLoadDate').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Set LookupOldDeltaLoadDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "LookupOldDeltaLoadDate",
								"value": {
									"value": "@item().LastLoaded",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set TableName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set LookupOldDeltaLoadDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName",
								"value": {
									"value": "@item().TableName",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach_LookupMAXDate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMAXDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMAXDate').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Set LookupMAXDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "LookupMAXDate",
								"value": {
									"value": "@{concat(substring(item().MAXDATE,0,10),' ',substring(item().MAXDATE,11,8))}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Stored ProcedureUpdateDeltaLoadDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyData_MDM_Mtrl_adl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[MQDW].[UPDATE_DELTA_LOAD_DATE]",
					"storedProcedureParameters": {
						"TableName": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"MaxDate": {
							"value": {
								"value": "@variables('LookupMAXDate')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"PLName": {
							"value": {
								"value": "PL_MDM_MTRL_TO_ADL_PRODUCT",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_MQDW",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LookupMAXDate": {
				"type": "String"
			},
			"LookupOldDeltaLoadDate": {
				"type": "String"
			},
			"TableName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MQDW"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}